name: Main

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Create a PR
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"

          BRANCH_NAME="ci/${{ github.run_id }}"

          echo "Creating a PR in branch $BRANCH_NAME" >> notes.md

          git checkout -b $BRANCH_NAME
          git add notes.md
          git commit -m "Add notes.md"
          git push origin $BRANCH_NAME

          gh pr create --title "Edit notes.md" --body "This is a test PR"
      - name: Merge PR
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh pr merge ci/${{ github.run_id }} --auto --delete-branch --squash
